//<MIXINS>===============================================================================================
@import "files/mixins.scss";
//<FONTS>=====================================================================================

//@import "files/icons.scss";

$fontFamily:"Arial";
$fontSize: 16px;
//<VARIABLES>============================================================================================
$minWidth:320px;
$maxWidth:1440;
$maxWidthContainer:1240;
$md1:$maxWidthContainer+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
//<NULL STYLE>============================================================================
@import "files/nullstyle.scss";
//<WRAPPER & CONTAINER>==============================================================================================
.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded{}
}
.container{
	max-width:$maxWidthContainer+px;
	//padding: 0px 15px;
	margin: 0 auto;
	width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2+px){max-width: 750px;}
	@media (max-width:$md3+px){max-width: none;padding:0 10px;}
}
//<CONNECT STYLE FILES & LIBS>==================================================
@import "files/forms.scss";
@import "files/ui.scss";
//@import "files/popup.scss";
//<CONNECT PAGES & COMPONENTS>=========================================================
@import "header.scss";
@import "footer.scss";

//<MAIN BLOCK>=========================================================================================
.page {
	flex: 1 1 auto;
	&__container {}
	&__text {
		text-align: center;
	}
	&__title {
		@include adaptiv-value("font-size", 50, 40, 1);
		margin: 10px 0px;
	}
	&__subtitle {
		@include adaptiv-value("font-size", 40, 26, 1);
		@include adaptiv-value("margin-bottom", 10, 30, 1);
	}
	&__section {
		padding: 30px 0px;
	}
	&__section-title {
		text-align: center;
		@include adaptiv-value("font-size", 30, 28, 1);
		margin-bottom: 15px;
		position: relative;
		z-index: 1;
		span {
			background: #fff;
			padding: 0px 15px;
		}
		&:before{
			content: "";
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 0;
			background: #000;
			height: 2px;
			width: 100%;
		}
	}
	&__items {
		display: flex;
		@include adaptiv-value("margin-left", -30, -10, 1);
		@include adaptiv-value("margin-right", -30, -10, 1);
		justify-content: center;
		flex-wrap: wrap;
	}
	&__item {}
}
.item {
	@include adaptiv-value("padding", 30, 10, 1);
	&__wrapper {
		display: block;
		position: relative;
		@include adaptiv-value("width", 350, 300, 1);
		text-align: center;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid #000;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover{
				.item__hover {
					visibility: visible;
					opacity: 1;
				}
				.item__details {
					color: #fff;
				}
				.item__link {
					background: #fff;
					color: #000;
				}
				border-color: #000;
				-webkit-box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.95);
				-moz-box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.95);
				box-shadow: 0px 0px 26px 5px rgba(0,0,0,0.95);
			}
		}
	}
	&__hover {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		border-radius: 10px;
		background: rgba(0,0,0,0.6);
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease 0s;
		padding: 40px 25px;
		font-weight: 700;
		color: #fff;
		line-height: 160%;
	}
	&__image {
		border-radius: 10px;
		padding-top: 150px;
		width: 100%;
		img {
			border-radius: 10px;
		}
	}
	&__description {
		border-top: 1px solid #000;
		color: #000;
		margin: 20px 0px 0px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		margin: 10px 0px 0px 0px;
		@include adaptiv-value("font-size", 30, 20, 1);
	}
	&__type-text {
		margin: 10px 0px 20px 0px;
		@include adaptiv-value("font-size", 20, 16, 1);
	}
	&__details {
		margin: 0px 0px 10px 0px;
		transition: all 0.3s ease 0s;
		text-decoration: underline;
		color: #000;
		position: relative;
		z-index: 2;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover{
				text-decoration: none;
			}
		}
	}
	&__link {
		color: #fff;
		//border: 1px solid #fff;
		margin: 0px 0px 10px 0px;
		padding: 10px 20px;
		border-radius: 10px;
		position: relative;
		z-index: 2;
		background: #000;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover{
			transform: scale(1.08);
			}
		}
	}
}
//========================================================================================================
.navigation {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	align-items: center;
	@include adaptiv-value("margin-left", -15, -5, 1);
	@include adaptiv-value("margin-right", -15, -5, 1);
	&__item {
		@include adaptiv-value("padding-left", 15, 5, 1);
		@include adaptiv-value("padding-right", 15, 5, 1);
		flex: 0 0 33.333%;
		display: flex;
		justify-content: center;
	}
	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-height: 40px;
		border: 1px solid #000;
		background: #000;
		color: #fff;
		border-radius: 10px;
		padding: 10px 15px;
		position: relative;
		transition: all 0.3s ease 0s;
		&:before{
			content: "";
			transition: all 0.3s ease 0s;
			position: absolute;
			width: 0;
			height: 0;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;
		}
		span {
			white-space: pre;
		}
		@media (max-width: 600px){
			span {
				display: none;
			}
		}
		@media (any-hover: hover) {
			&:hover{
				background: #fff;
				color: #000;
				transform: scale(1.05);
			}
		}
	}
	&__prev {
		padding: 10px 15px 10px 40px;
		&:before{
			border-right: 10px solid #fff;
			top: 50%;
			left: 15px;
			transform: translate(0px, -50%);
		}
		@media (any-hover: hover) {
			&:hover{
				&:before{
					border-right: 10px solid #000;
				}
			}
		}
	}
	&__back-to-portfolio {}
	&__next {
		padding: 10px 40px 10px 15px;
		&:before{
			border-left: 10px solid #fff;
			top: 50%;
			right: 15px;
			transform: translate(0px, -50%);
		}
		@media (any-hover: hover) {
			&:hover{
				&:before{
					border-left: 10px solid #000;
				}
			}
		}
	}
}
//========================================================================================================
.project-page {
	@include adaptiv-value("padding-top", 30, 10, 1);
	@include adaptiv-value("padding-bottom", 30, 10, 1);
	&__container {}
	&__nav {}
	&__image {
		display: block;
		border: 1px solid #000;
		border-radius: 10px;
		img {
			width: 100%;
			border-radius: 10px;
		}
	}
	&__body {}
}
.project-page-body {
	margin: 20px 0px 0px 0px;
	@include adaptiv-value("padding-left", 40, 15, 1);
	@include adaptiv-value("padding-right", 40, 15, 1);
	&__text {
		font-size: 20px;
		margin-bottom: 15px;
	}
	&__link-items {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	&__link-item {
		margin: 10px 0px 10px 0px;
		font-size: 18px;
		a {
			color: blue;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	&__use-el-title {
		font-size: 18px;
		margin-bottom: 5px;
		margin-top: 20px;
	}
	&__use-el {
		padding: 0px 0px 0px 5px;
	}
	&__el {
		padding: 5px 0px 5px 15px;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #000;
			top: 50%;
			left: 0;
			transform: translate(0px, -50%);
		}
	}
	&__link {
		display: inline-block;
		color: #fff;
		border: 1px solid #000;
		margin: 15px 0px 10px 0px;
		padding: 10px 20px;
		border-radius: 10px;
		position: relative;
		z-index: 2;
		background: #000;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover{
			color: #000;
			background: #fff;
			transform: scale(1.08);
			}
		}
	}
}
